@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-91y15c');
	src:url('../fonts/icomoon.eot?#iefix-91y15c') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-91y15c') format('woff'),
		url('../fonts/icomoon.ttf?-91y15c') format('truetype'),
		url('../fonts/icomoon.svg?-91y15c#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-15:before {
	content: "\e600";
}

.icon-1:before {
	content: "\e601";
}

.icon-2:before {
	content: "\e602";
}

.icon-3:before {
	content: "\e603";
}

.icon-4:before {
	content: "\e604";
}

.icon-5:before {
	content: "\e605";
}

.icon-6:before {
	content: "\e606";
}

.icon-7:before {
	content: "\e607";
}

.icon-8:before {
	content: "\e608";
}

.icon-9:before {
	content: "\e609";
}

.icon-10:before {
	content: "\e60a";
}

.icon-11:before {
	content: "\e60b";
}

.icon-12:before {
	content: "\e60c";
}

.icon-13:before {
	content: "\e60d";
}

.icon-14:before {
	content: "\e60e";
}

